
*, *::before, *::after{
	box-sizing:border-box;
	font-family: Gotham Rounded, sans-serif;
	font-weight:normal;
}

body{
	padding: 0;
	margin:0;
	background: linear-gradient(to right, #00aaff, #00ff6c);
}

.calc__container{
	height:100vh;
	display:flex;
	justify-content:center;
	align-items: center;
}



.calc {

	&__body {
		display:grid;
		grid-template-columns:repeat(4,85px);
		grid-template-rows: minmax(120px, auto)   repeat(5,90px);
		border:4px solid white;
		gap:5px;
		padding:0 5px 5px 5px;
		border-radius:30px;
		box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0,0,0, .16);
		background: linear-gradient(to right, #00aaff, #00ff6c); ;
		}

	&__output{
		grid-column: 1/-1;
		//background-color: rgba(0, 0, 0, .75);
		display:flex;
		align-items: flex-end;
		justify-content: space-around;
		flex-direction: column;
		padding:5px 10px 0px 10px;
		word-wrap:break-word;   // this with word-break will allow me to expand the calculator to the top
		word-break: break-all;
		color:white;
		border-radius:30px;


	.calc__history {
		color:rgba(255, 255, 255, .75);
		font-size: 20px;
		background-color: black;
		width:90%;
		margin:0 auto;
		border-radius:10px;
		text-align: end;
		padding:2px 5px;
		
	}

	.calc__display {
		color:black;
		font-size: 25px;
		padding: 0 10px;
		background:transparent;
		box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0,0,0, .16);
		border:4px solid white;
		border-radius: 30px;
		text-align: end;
		width:100%;
		height:70px;
		word-wrap:break-word;
		word-break: break-all;

		&:focus{
			outline:none;    //this is the way to remove outline for a pseudo class focus
		}
	}

		}

		
	

	&__button {
		cursor:pointer;
		font-size:2rem;
		border: 1px solid white;
		outline:none;
		background-color:rgba(255, 255, 255, .75);
		border-radius: 30px;
		//border:1px solid black;
		box-shadow: inset 5px 5px 12px #ffffff;
		&:hover {
			background-color:rgba(255, 255, 255, .9);
		}


		&_0 {
		}

		&_1 {
		}

		&_2 {
		}

		&_3 {
		}

		&_4 {
		}

		&_5 {
		}

		&_6 {
		}

		&_7 {
		}

		&_8 {
		}

		&_9 {
		}

		&_point {
		}

		&_del {
		}

		&_equal {
			grid-row:5/7;
			grid-column:4/5;
		background-color: #E16610;
			
		}

		&_+ {
		}

		&_- {
		}

		&_x {
		}

		&_divide {
		}

		&_plus-slash-minus {
		}

		&_C {
			position:relative;
			

	&::before{
		content:"Esc";
		font-size: 0.5em;
		position: absolute;
		top:66%;
		
	}


		}
	}


	


}


@media only screen and (max-width: 700px){
.calc {

	&__body {
		grid-template-columns:repeat(4,1fr);
		grid-template-rows: minmax(120px, 200px)   repeat(5,1fr);
		border:none;
		background:transparent;
		box-shadow:none;
		max-height:100vh;
		min-height:100vh;
		margin-bottom:20px;
	}

	&__output{
		padding:5px 10px 0px 10px;
		justify-content:center;
		


	.calc__history {
		width:90%;
		margin:20px auto;
		height:40px;
	}

	.calc__display {
		background:transparent;
	}
		}


}









}

